<section class="container">
    <h1>Your Pokémon</h1>
    
    <app-section>
        <app-pokemon-card *ngFor="let pokemon of pokemons" [pokemon]="pokemon" ></app-pokemon-card>
    </app-section>
</section>