* :not(h1) {
    color: #1f1f1f;
}

.header{
    background-color: #ce0411;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1 {
    margin: 0 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-width: 25rem;
}

.nav-link {
    list-style: none;
}

.nav-link > a {
    font-size: 1.4rem;
    text-decoration: none;
    font-family: "Pokemon-Solid";
    text-shadow:
        2px 2px 0 rgba(0, 0, 0, 0),
        -2px -2px 0 rgba(0, 0, 0, 0),
        2px -2px 0 rgba(0, 0, 0, 0),
        -2px 2px 0 rgba(0, 0, 0, 0),
        -2px -2px 0 rgba(0, 0, 0, 0);
}

.nav-link > a:hover {
    font-family: "Pokemon-Solid";
    color: #ffcb05;
    text-shadow:
        2px 2px 0 #3c5aa6,
        -2px -2px 0 #3c5aa6,
        2px -2px 0 #3c5aa6,
        -2px 2px 0 #3c5aa6,
        -2px -2px 0 #3c5aa6;
}
