.card {
    min-width: 400px;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    background-image: url("../../../assets/subtle-prism.svg");
    background-attachment: fixed;
    background-size: cover;
    font-weight: bold;
}

.card > * {
    padding: 0 0.5rem;
}

article {
    border: solid orangered 2px;
}

.image {
    height: 140px;
}

input {
    width: 35px;
}

.catchholder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ball {
    width: 35px;
}

.greyed {
    filter: grayscale(100%)
}
.pokemon-name {
  text-transform: capitalize;
  font-size: calc(100% - 0.1rem);
}
