<app-section>
  <div class="inputBox">
    <input
      #inputField
      (keyup.enter)="onEnter(inputField.value)"
      placeholder="Enter username"
    />
    <button (click)="onClicked(inputField.value)">Login</button>
  </div>
</app-section>
