/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Pokemon-Solid";
    src: local("Pokemon"), url("./assets/fonts/Pokemon-Solid.ttf") format("truetype");
}
@font-face {
    font-family: "Pokemon-Hollow";
    src: local("Pokemon"), url("./assets/fonts/Pokemon-Hollow.ttf") format("truetype");
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Pokemon-Solid";
    color: #ffcb05;
    text-shadow: 
        2px 2px 0 #3c5aa6, 
        -2px -2px 0 #3c5aa6, 
        2px -2px 0 #3c5aa6, 
        -2px 2px 0 #3c5aa6, 
        -2px -2px 0 #3c5aa6;
}