.cataloguePaginator {
  text-align: center;
  color: #ce0411;
  font-weight: bold;
  cursor: pointer;
}
.cataloguePaginatorPage:hover {
  color: #ffcb05;
}
.catalogue-header  {
  text-align: center;
}
.catalogue-topbar {
  display:flex;
  justify-content: space-between;
  width: 90%;
}
.search-input {
  justify-content: right;
  font-weight: bold;
}
.catalogue-dropdown  {
  justify-content: left;
  font-weight: bold;
  padding-left: 5%;
}
