<h1 class="catalogue-header">Pokémon Catalogue</h1>

<div class="catalogue-topbar">
  <div class="catalogue-dropdown">
      <p>Amount of Pokémon per page:</p>
      <select name="amountOfPages" [(ngModel)]="pokemonPerPage" (ngModelChange)="pokemonListPageFilter()">
        <option *ngFor="let pageOptions of pokemonPerPagesOptions" [value]="pageOptions">{{pageOptions}}</option>
      </select>
  </div>
  <div class="search-input">
    <p>Search for Pokémon</p>
    <input #inputField (keyup)="onKeyup(inputField.value)" />
  </div>
</div>

<p class="cataloguePaginator">
  <span class="cataloguePaginatorPage" *ngFor="let num of pages" (click)="onPageClicked(num)"> {{num + 1}} </span>
</p>

<app-section>

  <app-pokemon-card *ngFor="let poke of pokemonListDisplay(pokemonSearch)" [pokemon]=poke  [canOnlyCapture]=true></app-pokemon-card>

</app-section>
<p class="cataloguePaginator">
  <span class="cataloguePaginatorPage" *ngFor="let num of pages" (click)="onPageClicked(num)"> {{num + 1}} </span>
</p>
